/**
 * Press Assets Block - Frontend Styles
 */

.wp-block-biederman-press-assets {
  margin: 2rem 0;
}

.wp-block-biederman-press-assets.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

/* Alignment support */
.wp-block-biederman-press-assets.alignwide {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-biederman-press-assets.alignfull {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}

